chromadb>=1.0.15
python-dotenv>=0.9.9
docling>=2.48.0
gradio>=5.29.0
langchain>=0.3.27
langchain-community>=0.3.28
langchain-core>=0.3.75
langchain-mistralai>=0.2.11
langchain-text-splitters>=0.3.9
langgraph>=0.6.6
loguru>=0.7.3
numpy<2.0.0
pydantic>=2.11.7
rank-bm25>=0.2.2
torch>=2.2.0
torchvision==0.17.2
mistralai>=1.9.9
langsmith>=0.4.19
